.header-nav,
.head-menu,
.header,
.nav-contact,
.div-head {
  display: flex;
}
.header {
  border-bottom: 1px solid #ececec;

  padding-top: 24px;
  padding-bottom: 24px;
}
.header-nav {
  justify-content: space-between;
}
.head-menu__item:not(:last-child),
.nav-contact__item:not(:last-child) {
  margin-right: 50px;
}
.head-menu {
    align-items: center;
    margin-left: 93px;
}
.div-head {
  justify-content: space-between;
  align-items: center;
}

 .head-menu {
  align-items: center;
  margin-left: 93px;
}

.head-menu__item {
  align-items: center;
  
}
.nav-contact__link {
  display: flex;
  align-items: center;
  color: var(--pcolor);
}

.head-menu__link {
  color: rgb(255, 255, 255);
  
}
.head-menu__link {
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.header-nav__logo {
  color: #000000;
}
.header-nav__logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.header-nav__logo--blue {
  color: var(--accent-color);
}

.nav-contact__link {
    &:hover,
    &:focus
     {
        color: var(--accent-color);
    }
}
.nav-contact__link {
    &:hover .nav-contact__icon,
    &:focus .nav-contact__icon {
       fill: var(--accent-color);  
    }
}

.head-menu__link {
    &:hover {
         color: var(--accent-color);
    }
}
.head-menu__link,
.nav-contact__link {
  font-weight: 500;
  letter-spacing: 0.02em;

  transition: color 250ms var(--transition-timing-function);
}
.head-menu__link {
  line-height: 1.14;
}
.nav-contact__link {
  line-height: 1.14;
}
.head-menu__link,
.skills__title,
.card-orient__description {
  color: var(--hcolor);
  font-size: 14px;
}

.head-menu__item {
    .current {
  position: relative;
  color: var(--accent-color);
}
.current {
  &::after {
     position: absolute;
  content: "";

  display: block;

  background-color: rgba(33, 150, 243, 1);
  border-radius: 2px;
  width: 100%;
  height: 4px;

  margin-top: 28px;
}
  }
}
.nav-contact__icon {
  fill: var(--pcolor);
  margin-right: 10px;

  transition: fill 250ms var(--transition-timing-function);
}
.nav-contact {
  align-items: center;
}