.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.skills__item {
  flex-basis: calc((100% - 90px) / 4);
}

.skills__item {
    &::before {
        content: "";
  display: block;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
    }
}
.icon-antena {
    &::before {
background-image: url(../images/SVG/antenna.svg);
    }
}
.icon-clock {
    &::before {
        background-image: url(../images/SVG/clock.svg);
    }
}
.icon-diagram {
    &::before {
         background-image: url(../images/SVG/diagram.svg);
    }
}
.icon-astronaut {
    &::before {
        background-image: url(../images/SVG/astronaut.svg);
    }
}
.skills__title {
  margin-top: 30px;
  margin-bottom: 10px;
}
.skills__title,
.skills__txt {
  text-align: left;
}
.skills__txt {
  line-height: 1.71;
}
